# The folder in which the papers should be stored
# /!\ Keep the trailing slash /!\
folder = "/home/phyks/Papers/"

# The various proxies available to retrieve the content
proxies = [
    '',
    'socks5://localhost:4711'
]

# The mask to rename files
# %f = last name of first author
# %l = last name of last author
# %j = name of the journal
# %Y = published year
# %t = title
# %a = authors
format_articles = "%f_%l-%j-%Y"
format_books = "%a-%t"
