# The folder in which the papers should be stored
# /!\ Keep the trailing slash /!\
folder = "/home/phyks/Papers/"

# The various proxies available to retrieve the content
proxies = [
    '',
    'socks5://localhost:4711'
]

# The mask to rename files
# %f = last name of first author
# %l = last name of last author
# %j = name of the journal
# %Y = published year
# %t = title
# %a = authors
# %v = arXiv version (e.g. '-v1') or nothing if not an arXiv paper
format_articles = "%f_%l-%j-%Y%v"
format_books = "%a-%t"

# Other customization
# List of lambda functions to apply
# E.g. : format_custom = [lambda x: x.replace('test', 'some_expr')]
format_custom = []
